/* Slider container */
.slider-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

/* Hide images by default */
.slides {
    display: none;
}

    /* Style for images */
    .slides img {
        width: 100%;
        height: auto;
    }

/* Navigation arrows */
.prev, .next {
    position: absolute;
    top: 50%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Transition for smooth sliding */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}
